<!DOCTYPE html>
<html land=en>
    <head>
        <title>Pi Player</title>
    </head>
    <body>
        <div id='main-view'>
            <div class="label">
                Name
            </div>
            {% include 'id.html' %}
            <div class="label">
                Output Selection
            </div>
            {% include 'output.html' %}
            <div class="label">
                Player Control
            </div>
            {% include 'player.html' %}
            <div class="label">
                Files
            </div>
            {% include 'files.html' %}
            </div>
        </div>
    </body>
</html>
